@import url("http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css");
/* line 3, app.sass */
.container {
  margin-top: 2em;
  border: 1px solid #cccccc;
  padding: 1em 1em 5em 1em;
}
